In [1]:
import pandas as pd

In [2]:
import requests

Infosalary.com is a website that collects salary information from thousands of new job offers every day in the United States.

Output object attributes:
title (string) --> the job title that was found matching your query (e.g. “Data Analayst”)
average (float) --> the average value for all matching salaries, in US dollars per year (e.g. “68351.2”)
std (float) --> the standard deviation value for all matching salaries (e.g. “15370.9”)
samples (int) --> the number of matching salaries (e.g. 2057)

In [3]:

headers = {
	"X-RapidAPI-Host": "infosalary.p.rapidapi.com",
	"X-RapidAPI-Key": "9f6fb12677mshc47f9a8a96f3309p1687c3jsnfcd093d02142"
}

def get_codes():
    
    job_title = input('job_title:')
    print()
    
    url = "https://infosalary.p.rapidapi.com/"
    querystring = {'job_title':job_title.lower()}

    response = requests.request("GET", url, headers=headers, params=querystring)

    return response.json()

In [30]:
answer=get_codes()
answer

job_title: webdev

{'status': 0, 'error': 'Job title not found!'}

In [11]:
answer['info']

[{'title': 'Junior Web Developer',
  'average': '63655.6',
  'std': '17182.2',
  'samples': '57'}]

In [12]:
pd.json_normalize(answer['info'])

                  title  average      std samples
0  Junior Web Developer  63655.6  17182.2      57